@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$textFont: 'Inter', sans-serif;
$bgColor: #E7E9EF;
$textColor: #454343;
$btnColor: #05469E;
$errorColor: red;

body {
  background-color: $bgColor;
}


  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 15px;
      z-index: 999;
      justify-content: space-between;
      margin-top: 20px;
      padding-left: 160px;
      padding-right: 160px;
      padding-top: 30px;
      .logo {
        width: 82px;
        height: 32.9px;
      }
      .link {
        display: flex;
        flex-direction: row;
        gap: 28px;
      }
      a {
        font-family: $textFont;
        font-size: 20px;
        color: $textColor;
        font-weight: 400;
        text-decoration: none;
      }
      .waitBtn {
        background-color: $btnColor;
        width: 124px;
        height: 45px;
        border-radius: 57.8px;
        border: none;
        color: #FFFFFF;
        font-size: 16.8px;
        font-weight: 600;
        font-family: $textFont;
        }
        .waitBtn:focus {
          outline: none;
        }
    }  
    .subHeader {
      display: flex;
      // grid-template-columns: auto auto;
      flex-direction: column;
      max-width: 100%;
      margin-bottom: 60px;
      .subHeads {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 60px;
      padding-left: 160px;
      padding-right: 160px;
      }
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 40px;
        h2 {
          font-family: $textFont;
          font-size: 5.2vw;
          font-weight: 700;
          color: $btnColor;
          width: 42vw;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 1.5vw;
          font-family: $textFont;
          font-weight: 400;
          width: 30vw;
        }
        .waitBtn {
        background-color: $btnColor;
        width: 124px;
        height: 45px;
        border-radius: 37.8px;
        border: none;
        color: #FFFFFF;
        font-size: 16.8px;
        font-weight: 600;
        font-family: $textFont;
        }
        .waitBtn:focus {
          outline: none;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          color: #4C4C4C;
          font-size: 20px;
          font-weight: 400;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -5px;
        }
        .div4 {
          width: 33vw;
          height: 35vw;
          background-image: url(./images/rosebox.webp);
          background-repeat: no-repeat;
          background-size: contain;
        }  
      }
    }
    .formSection {
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
      margin-top: -70vw;
      height: 100vw;
      padding-top: 50vw;
      margin-bottom: -73vw;
      background-color: #d7dde977;
      .ogaCancel {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-bottom: 15px;
      }
      // padding: 20px;
      .formSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
        height: 20vw;
        border-radius: 16px;
        border: none;
        align-self: center;
        background-color: #D7DDE9;
        padding: 25px;
      }
      .formText {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        justify-content: center;
        .logos {
          .ogaCancel2 {
            display: none;
          }
          .logoImg {
            width: 92px;
            height: 29.76px;
          }
        }
        .logoTxt {
          color: #0E0E0E;
          font-size: 2vw;
          font-weight: 700;
          font-family: $textFont;
        }
        .ptxt {
          color: $textColor;
          font-size: 1.5vw;
          font-weight: 400;
          font-family: $textFont;
          margin-top: 5px;
        }
        .spanTxt {
          color: $textColor;
          font-size: 1vw;
          font-weight: 500;
          font-family: $textFont;
          width: 32vw;
          .exSpan {
            color: #05469E;
          }
        }
      }
      .formInput {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        p {
          color: $textColor;
          font-family: $textFont;
          font-size: 16px;
          font-weight: 400;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .inputName {
            width: 400px;
            border: none;
            border-radius: 12px;
            height: 40px;
            background-color: #E7E9EF;
            color: black;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            padding: 4px;
            padding-left: 7px;
          }
          .inputBtn {
            width: 410px;
            border: none;
            border-radius: 60px;
            height: 45px;
            background-color: $btnColor;
            color: #FFFFFF;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            // padding: 20px;
          }
          .inputBtn:focus {
            outline: none;
          }
          .inputName:focus {
            outline: none;
            color: black;
          }
        }
      }
    }
    .section1 {
      display: flex;
      flex-direction: row;
      max-width: 0;
      margin-top: 120px;
      gap: 3vw;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 160px;
        h3 {
          font-size: 3vw;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
          width: 40vw;
        }
        p {
          font-size: 1.5vw;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
          width: 37vw;
        }
        .waitBtn {
          background-color: $btnColor;
          width: 150px;
          height: 45px;
          border-radius: 37.8px;
          border: none;
          color: #FFFFFF;
          font-size: 16.8px;
          font-weight: 600;
          font-family: $textFont;
          }
          .waitBtn:focus {
            outline: none;
          }
      }
      .div2 {
        padding-left: 160px;
        display: flex;
        flex-direction: column;
        z-index: -1;
        .txtDiv {
          width: 550px;
          height: 475px;
          background-image: url(./images/Frame.webp);
          background-size: cover;
          background-repeat: no-repeat; 
          border-radius: 14.64px;
          .divTxt {
            width: 218px;
            background-color: #d7dde9b6;
            border-radius: 14.64px;
            height: 82px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 379px;
            left: 10px;
          }      
          p {
            font-family: $textFont;
            font-weight: 700;
            font-size: 24px;
            color: #4471AE;
            width: 161px;
            text-align: center;
          }
        }
        .waitBtn2 {
          display: none;
        }
      }
      .waitBtn2 {
        background-color: $btnColor;
        width: 117.63px;
        height: 42.18px;
        border-radius: 29.2px;
        border: none;
        color: #FFFFFF;
        font-size: 12.98px;
        font-weight: 600;
        font-family: $textFont;
        display: none;
        align-items: center;
        justify-content: center;
        }
    }
    .workSection {
      background-color: #D7DDE9;
      margin-top: 133px;
      padding-bottom: 60px;
      max-width: 100%;
      padding-top: 60px;
      // padding-left: 160px;
      // padding-right: 160px;
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 700;
          font-family: $textFont;
          font-size: 24px;
          margin-bottom: -6px;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-evenly;
        margin-top: 60px;
        // gap: 20px;
        // gap: 70px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 283px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 75.2px;
            height: 75.2px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9.34px;
          }
          .img {
            width: 63.53px;
            height: 63.53px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
            width: 350px;
            margin-top: 44px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 18px;
          width: 330px;
          text-align: center;
          margin-top: -25px;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding-bottom: 35px;
      margin-top: 50px;
        p {
          color: $textColor;
          font-size: 18px;
          font-family: $textFont;
          font-weight: 500;
        }
        img {
          width: 24.17px;
          height: 18.94x;
        }
      }
    }
    .msgSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 100%;
      padding-top: 250px;
      hText {
        color: $textColor;
        font-family: $textFont;
        font-size: 75px;
        font-weight: 700;
      }

    }  

@media screen and (max-width: 1200px) and (min-width: 950px) {
  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 30px;
      .logo {
        width: 78px;
        height: 26px;
        display: none;
      }
      .menu {
        display: none;
      }
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 25px;
      z-index: 999;
      justify-content: space-between;
      margin-top: 20px;
      padding: 30px;
      .logo {
        width: 78px;
        height: 26px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
    }
    .waitBtn {
      background-color: $btnColor;
      width: 150px;
      height: 45px;
      border-radius: 10px;
      border: none;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 600;
      font-family: $textFont;
      }
      .waitBtn:focus {
        outline: none;
      }
    .header {
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-top: 35px;
      align-items: center;
      max-width: 100%;
      justify-content: space-between;
      .logoImg {
        width: 145px;
        height: 55px;
      }
      .menu {
        display: none;
      }
      .navLink {
        display: flex;
        flex-direction: row;
        width: 342px;
        justify-content: space-between;
        .cancel {
          display: none;
        }
        a {
          color: $textColor;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          text-decoration: none;
        }
        .waitBtn {
          display: none;
        }
      }
      .waitBtn {
        background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
      }
      .waitBtn:focus {
        outline: none;
      }
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      .subHeads {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 30px;
      padding-left: 20px;
      padding-right: 30px;
      }
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 80px;
        h2 {
          font-family: $textFont;
          font-size: 35px;
          font-weight: 700;
          color: $btnColor;
          width: 430px;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 24px;
          font-family: $textFont;
          font-weight: 400;
          width: 474px;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 152.25px;
        height: 54.6px;
        border-radius: 37.8px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
        .waitBtn:focus {
          outline: none;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 24px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -5px;
        }
        .div4 {
          width: 350px;
          height: 463px;
          background-image: url(./images/rosebox.webp);
          background-repeat: no-repeat;
          background-size: contain;
        }      
      }
    }
    .formSection {
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
      margin-top: -750px;
      background-color: transparent;
      .ogaCancel {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-bottom: 15px;
      }
      // padding: 20px;
      .formSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 900px;
        height: 349px;
        border-radius: 16px;
        border: none;
        align-self: center;
        justify-content: space-around;
        background-color: #D7DDE9;
      }
      .formText {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        justify-content: center;
        .logoImg {
          width: 128px;
          height: 55.3px;
        }
        .logoTxt {
          color: #0E0E0E;
          font-size: 40px;
          font-weight: 700;
          font-family: $textFont;
        }
        .ptxt {
          color: $textColor;
          font-size: 20px;
          font-weight: 400;
          font-family: $textFont;
        }
        .spanTxt {
          color: $textColor;
          font-size: 15px;
          font-weight: 400;
          font-family: $textFont;
          width: 464px;
          .exSpan {
            color: #05469E;
          }
        }
      }
      .formInput {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        p {
          color: $textColor;
          font-family: $textFont;
          font-size: 16px;
          font-weight: 400;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .inputName {
            width: 329px;
            border: none;
            border-radius: 12px;
            height: 40px;
            background-color: #E7E9EF;
            color: #0e0e0e52;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            padding: 7px;
          }
          .inputBtn {
            width: 329px;
            border: none;
            border-radius: 60px;
            height: 61px;
            background-color: $btnColor;
            color: #FFFFFF;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }
          .inputBtn:focus {
            outline: none;
          }
          .inputName:focus {
            outline: none;
          }
        }
      }
    }
    .section1 {
      display: flex;
      flex-direction: row;
      max-width: 0;
      margin-top: 83px;
      // justify-content: space-between;
      // padding-right: 25px;
      gap: 3vw;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 3vw;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
          width: 40vw;
        }
        p {
          font-size: 1.7vw;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
          width: 37vw;
        }
        .waitBtn {
          background-color: $btnColor;
          width: 150px;
          height: 45px;
          border-radius: 37.8px;
          border: none;
          color: #FFFFFF;
          font-size: 16.8px;
          font-weight: 600;
          font-family: $textFont;
          }
          .waitBtn:focus {
            outline: none;
          }
      }
      .div2 {
        // max-width: 120vw;
        padding-left: 35px;
        img {
          max-width: 50vw;
          height: 35vw;
          border-radius: 16px;
        }
        .waitBtn2 {
          display: none;
        }
      }
    }
    .workSection {
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 24px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        margin-top: 50px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 283px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 100px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 100px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
          width: 275px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 949px) and (min-width: 769px) {
  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 30px;
      .logo {
        width: 78px;
        height: 26px;
        display: none;
      }
      .menu {
        display: none;
      }
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 25px;
      z-index: 999;
      justify-content: space-between;
      margin-top: 20px;
      padding: 15px;
      .logo {
        width: 78px;
        height: 26px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
    }
    .waitBtn {
    background-color: $btnColor;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: $textFont;
    }
    .header {
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-top: 35px;
      align-items: center;
      max-width: 100%;
      justify-content: space-between;
      .logoImg {
        width: 145px;
        height: 55px;
      }
      .menu {
        display: none;
      }
      .navLink {
        display: flex;
        flex-direction: row;
        width: 342px;
        justify-content: space-between;
        .cancel {
          display: none;
        }
        a {
          color: $textColor;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          text-decoration: none;
        }
        .waitBtn {
          display: none;
        }
      }
      .waitBtn {
        background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
      }
      .waitBtn:focus {
        outline: none;
      }
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      .subHeads {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      }
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 70px;
        h2 {
          font-family: $textFont;
          font-size: 35px;
          font-weight: 700;
          color: $btnColor;
          width: 430px;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 20px;
          font-family: $textFont;
          font-weight: 400;
          width: 374px;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 152.25px;
        height: 54.6px;
        border-radius: 37.8px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
        .waitBtn:focus {
          outline: none;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 24px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -45px;
        }
        .div4 {
          width: 300px;
          height: 463px;
          background-image: url(./images/rosebox.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }              
      }
    }
    .formSection {
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
      margin-top: -800px;
      background-color: transparent;
      .ogaCancel {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-bottom: 15px;
      }
      .formSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 700px;
        height: 349px;
        border-radius: 16px;
        border: none;
        align-self: center;
        padding: 20px;
        justify-content: space-around;
        background-color: #D7DDE9;
      }
      .formText {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        justify-content: center;
        .logoImg {
          width: 90px;
          height: 55.3px;
        }
        .logoTxt {
          color: #0E0E0E;
          font-size: 20px;
          font-weight: 700;
          font-family: $textFont;
        }
        .ptxt {
          color: $textColor;
          font-size: 20px;
          font-weight: 400;
          font-family: $textFont;
        }
        .spanTxt {
          color: $textColor;
          font-size: 15px;
          font-weight: 400;
          font-family: $textFont;
          width: 350px;
          .exSpan {
            color: #05469E;
          }
        }
      }
      .formInput {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        p {
          color: $textColor;
          font-family: $textFont;
          font-size: 16px;
          font-weight: 400;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .inputName {
            width: 300px;
            border: none;
            border-radius: 12px;
            height: 40px;
            background-color: #E7E9EF;
            color: #0e0e0e52;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            padding: 7px;
          }
          .inputBtn {
            width: 300px;
            border: none;
            border-radius: 60px;
            height: 61px;
            background-color: $btnColor;
            color: #FFFFFF;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }
          .inputName:focus {
            outline: none;
            color: black;
          }
          .inputBtn:focus {
            outline: none;
          }
        }
      }
    }
    .section1 {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      margin-top: 83px;
      align-items: center;      
      // padding: 0;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 30px;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
        }
        p {
          font-size: 19px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
        }
        .waitBtn {
          background-color: $btnColor;
          width: 152.25px;
          height: 54.6px;
          border-radius: 57.8px;
          border: none;
          color: #FFFFFF;
          font-size: 20px;
          font-weight: 600;
          font-family: $textFont;
          }
          .waitBtn:focus {
            display: none;
          }
      }
      .div2 {
        max-width: 100%;
        img {
          width: 459px;
          height: 320px;
          border-radius: 16px;
        }
        .waitBtn2 {
          display: none;
        }
      }
    }
    .workSection {
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        margin-top: 50px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 283px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 100px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 80px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
            width: 180px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 18px;
          width: 220px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 582px) {
  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 30px;
      .logo {
        width: 78px;
        height: 26px;
        display: none;
      }
      .menu {
        display: none;
      }
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 15px;
      z-index: 999;
      padding: 10px;
      justify-content: space-between;
      margin-top: 25px;
      .logo {
        width: 78px;
        height: 26px;
      }
      a {
        font-family: $textFont;
        font-size: 10px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
    }
    .waitBtn {
    background-color: $btnColor;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: $textFont;
    }
    .waitBtn:focus {
      outline: none;
    }
    .header {
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-top: 35px;
      align-items: center;
      max-width: 100%;
      justify-content: space-between;
      .logoImg {
        width: 80px;
        height: 55px;
      }
      .menu {
        display: none;
      }
      .navLink {
        display: flex;
        flex-direction: row;
        width: 342px;
        justify-content: space-between;
        .cancel {
          display: none;
        }
        a {
          color: $textColor;
          font-size: 16px;
          font-weight: 500;
          font-family: $textFont;
          text-decoration: none;
        }
        .waitBtn {
          display: none;
        }
      }
      .waitBtn {
        background-color: $btnColor;
        width: 120px;
        height: 45px;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        font-family: $textFont;
        margin-left: 20px;
      }
      .waitBtn:focus {
        outline: none;
      }
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      .subHeads {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      }
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 30px;
        h2 {
          font-family: $textFont;
          font-size: 25px;
          font-weight: 700;
          color: $btnColor;
          width: 330px;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 14px;
          font-family: $textFont;
          font-weight: 400;
          width: 274px;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 152.25px;
        height: 54.6px;
        border-radius: 37.8px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
        .waitBtn:focus {
          outline: none;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 14px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -95px;
        }
        .div4 {
          width: 200px;
          height: 463px;
          background-image: url(./images/rosebox.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }       
      }
    }
    .formSection {
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
      margin-top: -600px;
      background-color: transparent;
      .ogaCancel {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-bottom: 15px;
      }
      .formSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
        height: 349px;
        border-radius: 16px;
        border: none;
        align-self: center;
        padding: 20px;
        justify-content: space-around;
        background-color: #D7DDE9;
      }
      .formText {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        justify-content: center;
        .logoImg {
          width: 90px;
          height: 55.3px;
        }
        .logoTxt {
          color: #0E0E0E;
          font-size: 20px;
          font-weight: 700;
          font-family: $textFont;
        }
        .ptxt {
          color: $textColor;
          font-size: 20px;
          font-weight: 400;
          font-family: $textFont;
        }
        .spanTxt {
          color: $textColor;
          font-size: 13px;
          font-weight: 400;
          font-family: $textFont;
          width: 250px;
          .exSpan {
            color: #05469E;
          }
        }
      }
      .formInput {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        p {
          color: $textColor;
          font-family: $textFont;
          font-size: 16px;
          font-weight: 400;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .inputName {
            width: 200px;
            border: none;
            border-radius: 12px;
            height: 40px;
            background-color: #E7E9EF;
            color: #0e0e0e52;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            padding: 7px;
          }
          .inputBtn {
            width: 200px;
            border: none;
            border-radius: 60px;
            height: 61px;
            background-color: $btnColor;
            color: #FFFFFF;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }
          .inputName:focus {
            outline: none;
            color: black;
          }
          .inputBtn:focus {
            outline: none;
          }
        }
      }
    }    
    .section1 {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-top: -43px;
      align-items: center;      
      // padding: 0;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        h3 {
          font-size: 24px;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
          text-align: center;
        }
        p {
          font-size: 19px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
          text-align: center;
          width: 400px;
        }
        .waitBtn {
          background-color: $btnColor;
          width: 152.25px;
          height: 54.6px;
          border-radius: 57.8px;
          border: none;
          color: #FFFFFF;
          font-size: 20px;
          font-weight: 600;
          font-family: $textFont;
          display: none;
          }
          .waitBtn:focus {
            outline: none;
          }
      }
      .div2 {
        max-width: 100%;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .waitBtn2 {
          background-color: $btnColor;
          width: 152.25px;
          height: 54.6px;
          border-radius: 57.8px;
          border: none;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 600;
          font-family: $textFont;
          display: flex;
          align-items: center;
          padding: 10px;
          justify-content: center;
          }
        img {
          width: 500px;
          height: 320px;
          border-radius: 16px;
        }
      }
    }
    .workSection {
      margin-top: 30px;
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
          text-align: center;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
          text-align: center;
          width: 480px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 35px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 300px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 110px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 150px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
            width: 300px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 18px;
          width: 280px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 581px) and (min-width: 320px) {
  .App {
    padding: 0;
    margin: 0;
    .navDiv {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 320px;
      z-index: 1;
      gap: 30px;
      padding-top: 15px;
      padding-bottom: 35px;
      margin-bottom: 15px;
      background-color: #D7DDE9;
      .divNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        max-width: 100%;
      }
      .cancel {
        width: 25px;
        height: 25px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
      }
      .waitBtn2 {
        display: flex;
        width: 117px;
        border: none;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-family: $textFont;
        background-color:  $btnColor;
        font-weight: 600;
        font-size: 12px;
        padding: 15px;
        border-radius: 30px;
      }
      .waitBtn:focus {
        outline: none;
      }
    }
    .subHead2 {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-items: center;
      p {
        font-weight: 500;
        font-size: 16px;
        font-family: $textFont;
        color: $textColor;
        text-align: center;
        margin-bottom: 5px;
      }
      img {
        width: 300px;
        height: 364px;
      }
    }
    .divLogo {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 40px;
      .logo {
        width: 78px;
        height: 26px;
      }
      .menu {
        width: 23px;
        height: 15px;
      }
    }
    .navLink {
      // display: flex;
      flex-direction: column;
      max-width: 100%;
      background-color: transparent;
      align-items: center;
      height: 0px;
      gap: 25px;
      z-index: 0;
      justify-content: center;
      .link {
        display: none;
      }
      .logo {
        display: none;
      }
      // margin-top: -50px;
      // margin-bottom: -80px;
    }
    .waitBtn {
      display: none;
    }
    .waitBtn:focus {
      outline: none;
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-top: -25px;
      .subHeads {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-top: -60px;
      align-items: center;
      justify-content: center;
      }
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 30px;
        h2 {
          font-family: $textFont;
          font-size: 36px;
          font-weight: 700;
          color: $btnColor;
          width: 268px;
          margin-bottom: -7px;
          text-align: center;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 16px;
          font-family: $textFont;
          font-weight: 500;
          width: 329px;
          text-align: center;
        }
        .waitBtn {
        background-color: $btnColor;
        width: 117px;
        height: 42px;
        border-radius: 37.8px;
        border: none;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
        font-family: $textFont;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .waitBtn:focus {
          outline: none;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 14px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -5px;
          width: 250px;
        }
        .div4 {
          width: 327px;
          height: 364px;
          background-image: url(./images/rosebox.webp);
          background-repeat: no-repeat;
          background-size: contain;
        }       
      }
    }    
    .formSection {
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
      background-color: transparent;
      .ogaCancel {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-bottom: 15px;
        display: none;
      }
      .formSections {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 543px;
        border-radius: 16px;
        border: none;
        align-self: center;
        padding: 20px;
        background-color: #D7DDE9;
        margin-top: -460px;
      }
      .formText {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        gap: 10px;
        justify-content: center;
        border-bottom: 1px solid #05459e5e;
        padding-bottom: 30px;
        .logos {
          display: flex;
          flex-direction: row;
          max-width: 100%;
          justify-content: space-between;
          align-items: center;
          .logoImg {
            width: 55px;
            height: 18px;
          }
          .ogaCancel2 {
            width: 20px;
            height: 20px;
            display: flex;
          }
        }
        .logoTxt {
          color: #0E0E0E;
          font-size: 20px;
          font-weight: 700;
          font-family: $textFont;
        }
        .ptxt {
          color: $textColor;
          font-size: 14px;
          font-weight: 400;
          font-family: $textFont;
          width: 271px;
        }
        .spanTxt {
          color: $textColor;
          font-size: 12px;
          font-weight: 400;
          font-family: $textFont;
          width: 274px;
          line-height: 14px;
          .exSpan {
            color: #05469E;
          }
        }
      }
      .formInput {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 10px;
        p {
          color: $textColor;
          font-family: $textFont;
          font-size: 12px;
          font-weight: 400;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          justify-content: center;
          align-items: flex-start;
          .inputName {
            width: 276px;
            border: none;
            border-radius: 15px;
            height: 30px;
            background-color: #E7E9EF;
            color: black;
            font-family: $textFont;
            font-size: 12px;
            font-weight: 400;
            text-align: left;
            padding-left: 15px;
          }
          .inputName:focus {
            outline: none;
            color: black;
          }
          .inputBtn {
            width: 300px;
            border: none;
            border-radius: 60px;
            height: 50.18px;
            background-color: $btnColor;
            color: #FFFFFF;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            // padding: 25px;
          }
          .inputBtn:focus {
            outline: none;
          }
        }
      }
    }  
    .section1 {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-top: 25px;
      align-items: center;   
      justify-content: center;   
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        order: 1;
        h3 {
          font-size: 28px;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
          text-align: center;
          width: 279px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
          text-align: center;
          width: 300px;
        }
        .waitBtn {
          background-color: $btnColor;
          width: 117.63px;
          height: 42.18px;
          border-radius: 29.2px;
          border: none;
          color: #FFFFFF;
          font-size: 12.98px;
          font-weight: 600;
          font-family: $textFont;
          display: none;
          }
          .waitBtn:focus {
            outline: none;
          }
      }
      .div2 {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 30px;
        margin-top: -20px;
        z-index: -1;
        
          .txtDiv {
            width: 328.62px;
            height: 279.86px;
            background-image: url(./images/Frame.webp);
            background-size: cover;
            background-repeat: no-repeat; 
            border-radius: 11.7px;
            .divTxt {
              width: 95px;
              background-color: #d7dde9b6;
              border-radius: 15.6px;
              height: 57.5px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              top: 215.14px;
              left: 4.81px;
            }      
            p {
              font-family: $textFont;
              font-weight: 700;
              font-size: 14px;
              color: #4471AE;
              width: 64.5        px;
              text-align: center;
            }
          }        
      }
      .waitBtn2 {
        background-color: $btnColor;
        width: 117.63px;
        height: 42.18px;
        border-radius: 29.2px;
        border: none;
        color: #FFFFFF;
        font-size: 12.98px;
        font-weight: 600;
        font-family: $textFont;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 3;
        }
    }
    .workSection {
      margin-top: 60px;
      padding-top: 15px;
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 700;
          font-family: $textFont;
          font-size: 20px;
          margin-bottom: -6px;
          text-align: center;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 14px;
          text-align: center;
          width: 269px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 35px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 300px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 49.51px;
            height: 49.51px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7.08px;
          }
          .img {
            width: 37.71px;
            height: 37.71px;
          }
          h5 {
            color: $textColor;
            font-weight: 500;
            font-family: $textFont;
            font-size: 17px;
            text-align: center;
            width: 250px;
            margin-bottom: 17px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 14px;
          width: 246px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px;
      padding-bottom: 50px;
      margin-top: 30px;
        p {
          color: $textColor;
          font-size: 12px;
          font-family: $textFont;
          font-weight: 500;
        }
        img {
          width: 15px;
          height: 15px;
        }
    }
  } 
  .msgSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    padding-top: 250px;
    .hText {
      color: $textColor;
      font-family: $textFont;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }

  }   
} 