@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$textFont: 'Inter', sans-serif;
$bgColor: #E7E9EF;
$textColor: #454343;
$btnColor: #05469E;

body {
  background-color: $bgColor;
}


  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 15px;
      z-index: 999;
      justify-content: space-between;
      margin-top: 20px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 30px;
      .logo {
        width: 178px;
        height: 55px;
      }
      .link {
        display: flex;
        flex-direction: row;
        gap: 70px;
      }
      a {
        font-family: $textFont;
        font-size: 20px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
      .waitBtn {
        background-color: $btnColor;
        width: 152.25px;
        height: 54.6px;
        border-radius: 57.8px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
    }  
    .subHeader {
      display: flex;
      // grid-template-columns: auto auto;
      flex-direction: column;
      max-width: 100%;
      .subHeads {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 60px;
      padding-left: 60px;
      padding-right: 60px;
      }
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 40px;
        h2 {
          font-family: $textFont;
          font-size: 65px;
          font-weight: 700;
          color: $btnColor;
          width: 730px;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 24px;
          font-family: $textFont;
          font-weight: 400;
          width: 474px;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 152.25px;
        height: 54.6px;
        border-radius: 37.8px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 24px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -5px;
        }
        img {
          width: 450px;
          height: 563px;
        }      
      }
    }
    .formSection {
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
      margin-top: -300px;
      .ogaCancel {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-bottom: 15px;
      }
      // padding: 20px;
      .formSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 1158px;
        height: 349px;
        border-radius: 16px;
        border: none;
        align-self: center;
        justify-content: space-around;
        background-color: #D7DDE9;
      }
      .formText {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: left;
        justify-content: center;
        .logoImg {
          width: 178px;
          height: 55.3px;
        }
        .logoTxt {
          color: #0E0E0E;
          font-size: 40px;
          font-weight: 700;
          font-family: $textFont;
        }
        .ptxt {
          color: $textColor;
          font-size: 20px;
          font-weight: 400;
          font-family: $textFont;
        }
        .spanTxt {
          color: $textColor;
          font-size: 15px;
          font-weight: 700;
          font-family: $textFont;
          width: 464px;
          .exSpan {
            color: #05469E;
          }
        }
      }
      .formInput {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        p {
          color: $textColor;
          font-family: $textFont;
          font-size: 16px;
          font-weight: 400;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .inputName {
            width: 529px;
            border: none;
            border-radius: 12px;
            height: 40px;
            background-color: #E7E9EF;
            color: #0e0e0e52;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            padding: 7px;
          }
          .inputBtn {
            width: 529px;
            border: none;
            border-radius: 60px;
            height: 61px;
            background-color: $btnColor;
            color: #FFFFFF;
            font-family: $textFont;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }
        }
      }
    }
    .section1 {
      display: flex;
      flex-direction: column;
      padding: 0;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 64px;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
        }
        p {
          font-size: 24px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
        }
      }
      // .div2 {
      //   display: flex;
      //   padding: 0;
      //   // background-color: red;
      //   background-image: url(./images/frame.svg);
      //   background-repeat: no-repeat;
      //   background-size: contain;
      //   max-width: 100%;
      //   height: 500px;
      //   img {
      //     display: n;
      //   }
      // }
      img {
        max-width: 100%;
      }
    }
    .workSection {
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 28px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        margin-top: 50px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 283px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 100px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 100px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
          width: 275px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px;
      padding-bottom: 50px;
      margin-top: 30px;
        p {
          color: $textColor;
          font-size: 25px;
          font-family: $textFont;
          font-weight: 500;
        }
        img {
          width: 32px;
          height: 26px;
        }
      }
    }  

@media screen and (max-width: 1200px) and (min-width: 950px) {
  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 30px;
      .logo {
        width: 78px;
        height: 26px;
        display: none;
      }
      .menu {
        display: none;
      }
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 25px;
      z-index: 999;
      justify-content: space-between;
      margin-top: 20px;
      padding: 30px;
      .logo {
        width: 78px;
        height: 26px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
    }
    .waitBtn {
      background-color: $btnColor;
      width: 150px;
      height: 45px;
      border-radius: 10px;
      border: none;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 600;
      font-family: $textFont;
      }
    .header {
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-top: 35px;
      align-items: center;
      max-width: 100%;
      justify-content: space-between;
      .logoImg {
        width: 145px;
        height: 55px;
      }
      .menu {
        display: none;
      }
      .navLink {
        display: flex;
        flex-direction: row;
        width: 342px;
        justify-content: space-between;
        .cancel {
          display: none;
        }
        a {
          color: $textColor;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          text-decoration: none;
        }
        .waitBtn {
          display: none;
        }
      }
      .waitBtn {
        background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
      }
    }
    .subHeader {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 60px;
      padding: 25px;
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 40px;
        h2 {
          font-family: $textFont;
          font-size: 45px;
          font-weight: 700;
          color: $btnColor;
          width: 530px;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 24px;
          font-family: $textFont;
          font-weight: 400;
          width: 474px;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 24px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -75px;
        }
        img {
          width: 350px;
          height: 563px;
        }      
      }
    } 
    .section1 {
      display: flex;
      flex-direction: column;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 40px;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
        }
        img {
          max-width: 100%;
        }
      }
    }
    .workSection {
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 24px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        margin-top: 50px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 283px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 100px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 100px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
          width: 275px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 949px) and (min-width: 769px) {
  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 30px;
      .logo {
        width: 78px;
        height: 26px;
        display: none;
      }
      .menu {
        display: none;
      }
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 25px;
      z-index: 999;
      justify-content: space-between;
      margin-top: 20px;
      padding: 15px;
      .logo {
        width: 78px;
        height: 26px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
    }
    .waitBtn {
    background-color: $btnColor;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: $textFont;
    }
    .header {
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-top: 35px;
      align-items: center;
      max-width: 100%;
      justify-content: space-between;
      .logoImg {
        width: 145px;
        height: 55px;
      }
      .menu {
        display: none;
      }
      .navLink {
        display: flex;
        flex-direction: row;
        width: 342px;
        justify-content: space-between;
        .cancel {
          display: none;
        }
        a {
          color: $textColor;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          text-decoration: none;
        }
        .waitBtn {
          display: none;
        }
      }
      .waitBtn {
        background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
      }
    }
    .subHeader {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin-top: 60px;
      padding: 25px;
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 40px;
        h2 {
          font-family: $textFont;
          font-size: 35px;
          font-weight: 700;
          color: $btnColor;
          width: 330px;
          margin-bottom: -7px;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 24px;
          font-family: $textFont;
          font-weight: 400;
          width: 320px;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 24px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -75px;
        }
        img {
          width: 350px;
          height: 563px;
        }      
      }
    } 
    .section1 {
      display: flex;
      flex-direction: column;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 30px;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
        }
        img {
          max-width: 100%;
        }
      }
    }
    .workSection {
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        margin-top: 50px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 283px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 100px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 80px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
            width: 180px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 18px;
          width: 220px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 582px) {
  .App {
    padding: 0;
    margin: 0;
    .divLogo {
      display: none;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      padding-top: 30px;
      .logo {
        width: 78px;
        height: 26px;
        display: none;
      }
      .menu {
        display: none;
      }
    }
    .navLink {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      gap: 25px;
      z-index: 999;
      padding: 10px;
      justify-content: space-between;
      margin-top: 25px;
      .logo {
        width: 78px;
        height: 26px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        // margin-right: 15px;
      }
    }
    .waitBtn {
      background-color: $btnColor;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: $textFont;
    }
    .header {
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-top: 35px;
      align-items: center;
      max-width: 100%;
      justify-content: space-between;
      .logoImg {
        width: 80px;
        height: 55px;
      }
      .menu {
        display: none;
      }
      .navLink {
        display: flex;
        flex-direction: row;
        width: 342px;
        justify-content: space-between;
        .cancel {
          display: none;
        }
        a {
          color: $textColor;
          font-size: 16px;
          font-weight: 500;
          font-family: $textFont;
          text-decoration: none;
        }
        .waitBtn {
          display: none;
        }
      }
      .waitBtn {
        background-color: $btnColor;
        width: 120px;
        height: 45px;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        font-family: $textFont;
        margin-left: 20px;
      }
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      justify-content: center;
      margin-top: -50px;
      padding: 25px;
      .subHead1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        h2 {
          font-family: $textFont;
          font-size: 35px;
          font-weight: 700;
          color: $btnColor;
          width: 330px;
          margin-bottom: -7px;
          text-align: center;
          span {
            color: #000000;
          }
        }
        p {
          color: #122240;
          font-size: 20px;
          font-family: $textFont;
          font-weight: 400;
          width: 420px;
          text-align: center;
        }
        .waitBtn {
          background-color: $btnColor;
        width: 150px;
        height: 65px;
        border-radius: 16px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: $textFont;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        p {
          color: #4C4C4C;
          font-size: 24px;
          font-weight: 500;
          font-family: $textFont;
          text-align: center;
          margin-bottom: -75px;
        }
        img {
          width: 350px;
          height: 563px;
        }      
      }
    } 
    .section1 {
      display: flex;
      flex-direction: column;
      margin-top: -40px;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 30px;
          width: 375px;
          text-align: center;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
          width: 420px;
          text-align: center;
        }
        img {
          max-width: 100%;
        }
      }
    }
    .workSection {
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 32px;
          margin-bottom: -6px;
          text-align: center;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 20px;
          text-align: center;
          width: 480px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 35px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 300px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 110px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 150px;
            height: 80px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
            width: 300px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 18px;
          width: 280px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 581px) and (min-width: 320px) {
  .App {
    padding: 0;
    margin: 0;
    .navDiv {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 303px;
      z-index: 1;
      gap: 40px;
      margin-top: 250px;
      margin-bottom: 260px;
      .cancel {
        width: 25px;
        height: 25px;
      }
      a {
        font-family: $textFont;
        font-size: 16px;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
      }
      .waitBtn2 {
        display: flex;
        width: 187px;
        border: none;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-family: $textFont;
        background-color:  $btnColor;
        font-weight: 600;
        font-size: 16px;
        padding: 15px;
        border-radius: 10px;
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 16px;
          font-family: $textFont;
          color: $textColor;
          text-align: center;
        }
        img {
          width: 300px;
          height: 364px;
        }
      }
    }
    .divLogo {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      .logo {
        width: 78px;
        height: 26px;
      }
      .menu {
        width: 23px;
        height: 15px;
      }
    }
    .navLink {
      display: none;
      flex-direction: column;
      max-width: 100%;
      background-color: red;
      align-items: center;
      height: 300px;
      gap: 25px;
      z-index: 999;
      justify-content: center;
      margin-top: -50px;
      margin-bottom: -80px;
    }
    .waitBtn {
      display: none;
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-items: center;
      margin-top: -35px;
      padding: 0;
      .subHead1 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        h2 {
          font-weight: 700;
          font-size: 36px;
          font-family: $textFont;
          color: $btnColor;
          text-align: center;
          width: 100%;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          font-family: $textFont;
          color: $textColor;
          text-align: center;
          width: 100%;
        }
        .waitBtn {
          width: 187px;
          display: flex;
          background-color: $btnColor;
          color: #FFFFFF;
          font-weight: 600;
          font-size: 16px;
          font-family: $textFont;
          height: 50px;
          border-radius: 10px;
          align-items: center;
          padding: 15px 46px 15px 46px;
        }
      }
      .subHead2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 16px;
          font-family: $textFont;
          color: $textColor;
          text-align: center;
        }
        img {
          width: 300px;
          height: 364.86px;
        }
      }
    }
    .section1 {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .div1 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 30px;
          width: 317px;
          text-align: center;
          font-weight: 600;
          color: $textColor;
          font-family: $textFont;
          margin-bottom: 5px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: $textColor;
          font-family: $textFont;
          width: 339px;
          text-align: center;
        }
        img {
          max-width: 100%;
          height: 287px;
        }
      }
    }
    .workSection {
      margin-top: 20px;
      .work1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $textColor;
          font-weight: 600;
          font-family: $textFont;
          font-size: 20px;
          margin-bottom: -6px;
          text-align: center;
        }
        p {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 16px;
          text-align: center;
          width: 329px;
        }
      }
      .work2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 35px;
        .Subwork {
          display: flex;
          flex-direction: column;
          width: 300px;
          align-items: center;
          .divImg {
            background-color: #4470ae1c;
            width: 83px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
          }
          .img {
            width: 63px;
            height: 63px;
          }
          h5 {
            color: $textColor;
            font-weight: 600;
            font-family: $textFont;
            font-size: 20px;
            text-align: center;
            width: 300px;
          }
          .pText {
          color: $textColor;
          font-weight: 400;
          font-family: $textFont;
          font-size: 16px;
          width: 328px;
          text-align: center;
          margin-top: -10px;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px;
      padding-bottom: 50px;
      margin-top: 30px;
        p {
          color: $textColor;
          font-size: 12px;
          font-family: $textFont;
          font-weight: 500;
        }
        img {
          width: 15px;
          height: 15px;
        }
    }
  }  
}